[submodule "upstream/quickjs"]
	path = upstream/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "upstream/quickjs-ng"]
	path = upstream/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "upstream/rquickjs"]
	path = upstream/rquickjs
	url = https://github.com/jprendes/rquickjs.git
